{% extends "base.html.j2" %}

{% block title %}
Catastrophe Software
{% endblock %}

{% block content %}
<h1>Welcome to Catastrophe Software</h1>
<p>See below for links to my tools:</p>
<a href="\searchform">link</a>
<p>????</p>
{% endblock %}