{% extends "base.html.j2" %}

{% block title %}
Catastrophe Software
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>

<body>
    <form action="/submit_form" method="post">
        <label for="entry">Enter your <a href="https://help.steampowered.com/en/faqs/view/2816-BE67-5B69-0FEC"
                target="_blank">SteamID
            </a></label><br>
        <input type="text" id="entry" name="entry"><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>

{% endblock %}